<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>Add Item</title>
</head>
<body>
  <form action="/addShoes" method="POST">

    <!--ID (Nine Digit Unique Number): <input type="number", name="id"><br/><br/>       -->
    <!-- ID -->
    ID (Nine Digit Unique Number): 
    <!-- <lable for = "fid">ID</lable> -->
    <!-- <input type="number" maxlength="9" minlength="9" name="id" id="fid" required  -->
           <!-- pattern="\d{9}" title="ID must be a nine-digit number."><br/><br/> -->

    <label for="fid">ID (Nine Digit Unique Number):</label>
    <input type="text" name="id" id="fid" required 
    pattern="^\d{9}$" title="ID must be a nine-digit number." 
    oninput="this.value = this.value.replace(/[^0-9]/g, '');" 
    maxlength="9" minlength="9"><br/><br/>


    Name (Nine Digit Number): 
    <lable for = "fid">ID</lable>
    <input type="text", name="name" id="fname" required ><br/><br/>

    ColourWayId (): 
    <input type="number", name="colourWayId"><br/><br/>

    BrandName: 
    <input type="text", name="brandName"><br/><br/>

    ProductCode (Nine Digit Number): 
    <input type="number", name="productCode"><br/><br/>
    
    SellingIsFast:
    <input type="checkbox" name="sellingIsFast"><br/><br/>
   
    CurrentPrice: 
    <input type="number", name="currentPrice"><br/><br/>

    PreviousPrice: 
    <input type="number", name="previousPrice"><br/><br/>

    LowestPriceInLast30Days: 
    <input type="number", name="lowestPriceInLast30Days"><br/><br/>

    PriceIsMarkedDown: 
    <input type="number", name="priceIsMarkedDown"><br/><br/>

    Currency: <input type="number", name="currency"><br/><br/>
    BrandName: <input type="number", name="brandName"><br/><br/>
    Price_range_indicator: <input type="text", name="price_range_indicator"><br/><br/>
    Discount_percentage: <input type="number", name="discount_percentage"><br/><br/>
    Lowest_price_tag: <input type="text", name="lowest_price_tag"><br/><br/>

    <button type="submit" name="submit">Add Shoe</button>
  </form>    
</body>
</html>
