<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>Add Item</title>
</head>
<body>
  <form action="/addShoes" method="POST">

    <!--ID: <input type="number", name="id">-->
    Name: <input type="text", name="name">
    ColourWayId: <input type="number", name="colourWayId">
    BrandName: <input type="text", name="brandName">
    ProductCode: <input type="number", name="productCode">
    SellingIsFast: <input type="text", name="sellingIsFast">
    CurrentPrice: <input type="number", name="currentPrice">
    PreviousPrice: <input type="number", name="previousPrice">
    LowestPriceInLast30Days: <input type="number", name="lowestPriceInLast30Days">
    PriceIsMarkedDown: <input type="number", name="priceIsMarkedDown">
    Currency: <input type="number", name="currency">
    BrandName_encoded: <input type="number", name="brandName_encoded">
    Price_range_indicator: <input type="text", name="price_range_indicator">
    <!--Discount_percentage: <input type="number", name="c">
    Lowest_price_tag: <input type="text", name="lowest_price_tag">-->

    <button type="submit" name="submit">Add Shoe</button>
  </form>    
</body>
</html>
